extends ../base.pug
include ../mixins/reviewModal
include ../mixins/review
include ../mixins/image

block modal
  +image(place)
  if loggedIn
    +reviewModal(place)
block content
  div.placeImg-wrapper#headerImages
    each photo in place.photoUrl.reverse()
      if isHeroku
        img.placeImg#headerImageBtn(src=`${photo}`)
      else
        img.placeImg#headerImageBtn(src=`/${photo}`)
      
  section.placeInfo-wrapper#placeInfoContainer
    header.placeInfo-header
      div.placeInfo-header__title
        h1.title=place.name
          strong=place.meta.rating
        div.actionBtns-wrapper
          div.actionBtn-wrapper#reviewModalBtn1
            i.fa-regular.fa-comment
            span 리뷰쓰기
          div(class=scrapClicked ? "clicked" : "", data-placeId=place._id).actionBtn-wrapper#scrapBtn
            i(class=scrapClicked ? "fa-solid" : "fa-regular").fa-bookmark#scrapIcon
            span 스크랩
      div.etcs-wrapper
        i.fa-solid.fa-eye
        span  #{place.meta.views}
        i.fa-solid.fa-pencil
        span  #{place.comments.length}
        i.fa-solid.fa-bookmark
        span  #{place.meta.likes}
    div(id="map" data-href=`${place.naver_map_url}`).map-layer
    div.info-wrapper
      div.infos
        span=place.info.location
        i.fa-regular.fa-copy
      div.infos
        span=place.info.contact
      p.infos-etcs
        span 영업시간
        span=place.info.time
    div.hashtags-wrapper
      each hashtag in place.info.hashtags
        a(href=`/search?search=${hashtag}`)
          span.hashtag ##{hashtag}
    ins(class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8365610783562417" data-ad-slot="5089660369")
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    div.placeReviewContainer
      div.placeReview-header
        h1.title 경대생들의 리뷰 (#{place.comments.length})
        div.reviewBtn-wrapper#reviewModalBtn2
          i.fa-regular.fa-comment
          span 리뷰쓰기
      div.placeReview-wrapper
        +review(place)
block scripts
  script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=m60p7akqw3&submodules=geocoder")
  script(src="/static/js/commentSection.js")
  script(src="/static/js/imageScale.js")
  script(src="/static/js/placeScrap.js")
  script(src="/static/js/map.js")