extends ../base.pug
include ../mixins/review
include ../mixins/image

block modal
  +image(place)
  if loggedIn
    +review(place)
block content
  div.placeImg-wrapper#headerImages
    each photo in place.photoUrl.reverse()
      img.placeImg#headerImageBtn(src=`/${photo}`)
    else 
      img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
  section.placeInfo-wrapper#placeInfoContainer
    header.placeInfo-header
      div.placeInfo-header__title
        h1.title=place.name
          strong=place.meta.rating
        div.actionBtns-wrapper
          div.actionBtn-wrapper#reviewModalBtn1
            i.fa-regular.fa-comment
            span 리뷰쓰기
          div(class=scrapClicked ? "clicked" : "", data-placeId=place._id).actionBtn-wrapper#scrapBtn
            i(class=scrapClicked ? "fa-solid" : "fa-regular").fa-bookmark#scrapIcon
            span 스크랩
      div.etcs-wrapper
        i.fa-solid.fa-eye
        span  #{place.meta.views}
        i.fa-solid.fa-pencil
        span  #{place.comments.length}
    div.map-layer
    div.info-wrapper
      div.infos
        span=place.info.location
        i.fa-regular.fa-copy
      div.infos
        span=place.info.contact
      p.infos-etcs
        span 영업시간
        span=place.info.time
    div.hashtags-wrapper
      each hashtag in place.info.hashtags
        span.hashtag=hashtag
    div.placeReviewContainer
      div.placeReview-header
        h1.title 경대생들의 리뷰 (#{place.comments.length})
        div.reviewBtn-wrapper#reviewModalBtn2
          i.fa-regular.fa-comment
          span 리뷰쓰기
      div.placeReview-wrapper
        each comment in place.comments.reverse()
          div.placeReview
            div.placeReview__header
              div.placeReview__headerInfo-wrapper
                img(src="https://img5.yna.co.kr/etc/inner/KR/2022/04/14/AKR20220414131000052_02_i_P2.jpg")
                div.placeReview__headerInfo
                  h1=comment.owner.username
                  p
                    i.fa-solid.fa-pen
                    small  #{comment.owner.comments.length}
              div.rating-wrapper
                case comment.rating
                  when 1
                    i.fa-regular.fa-face-frown-open
                    span 비추
                  when 2
                    i.fa-regular.fa-face-frown
                    span 별로
                  when 3
                    i.fa-regular.fa-face-meh
                    span 무난
                  when 4
                    i.fa-regular.fa-face-grin-wide
                    span 좋아
                  when 5
                    i.fa-regular.fa-face-grin-stars
                    span 강추
            div.placeReview__content
              span=comment.text
            div.placeReview__images
              each image in comment.photoUrl
                img(src=`/${image}`)#commentImageBtn
            p.placeReview__date #{new Date(comment.createdAt).toLocaleDateString("ko-kr", {year: '2-digit', month: '2-digit', day: '2-digit'})}
                    

        
block scripts
  script(src="/static/js/commentSection.js")
  script(src="/static/js/imageScale.js")
  script(src="/static/js/placeScrap.js")