mixin place(place)
  a(href=`/places/${place._id}`)
    div.placeBox
      if place.photoUrl.length !== 0
        if isHeroku
          img(src=`${place.photoUrl[place.photoUrl.length-1]}`)
        else
          img(src=`/${place.photoUrl[place.photoUrl.length-1]}`)
      else
        if isHeroku
          img(src=`https://withgnu.s3.ap-northeast-2.amazonaws.com/basicPlaceImg.jpg`)
        else 
          img(src="/uploads/basicPlaceImg.jpg")
      div.placeBox__info
        div.placeBox__info__header
          h1=place.name
          strong=place.meta.rating
        p.placeBox__info__hashtags
          each hashtag in place.info.hashtags
            span ##{hashtag} 
        p.placeBox__info__etcs
          i.fa-solid.fa-eye
          span  #{place.meta.views}
          i.fa-solid.fa-pencil
          span  #{place.comments.length}
          i.fa-solid.fa-bookmark
          span  #{place.meta.likes}