mixin place(place)
  a(href=`/places/${place._id}`)
    div.placeBox
      if place.photoUrl.length !== 0
        if isHeroku
          img(src=`${place.photoUrl[0]}`, crossorigin)
        else
          img(src=`/${place.photoUrl[0]}`)
      else
        img(src="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&crop=*:*;*,*&output-format=jpg&output-quality=80")
      div.placeBox__info
        div.placeBox__info__header
          h1=place.name
          strong=place.meta.rating
        p.placeBox__info__hashtags
          each hashtag in place.info.hashtags
            span #{hashtag} 
        p.placeBox__info__etcs
          i.fa-solid.fa-eye
          span  #{place.meta.views}
          i.fa-solid.fa-pencil
          span  #{place.comments.length}
          i.fa-solid.fa-bookmark
          span  #{place.meta.likes}