mixin restaurant(restaurant)
  a(href=`/restaurants/${restaurant._id}`)
    div.placeBox
      if restaurant.photoUrl.length !== 0
        img(src=`${restaurant.photoUrl[0]}`)
      else
        img(src="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&crop=*:*;*,*&output-format=jpg&output-quality=80")
      div.placeBox__info
        div.placeBox__info__header
          h1=restaurant.name
          strong=restaurant.meta.rating
        p.placeBox__info__hashtags
          each hashtag in restaurant.info.hashtags
            span #{hashtag} 
        p.placeBox__info__etcs
          i.fa-solid.fa-eye
          span  #{restaurant.meta.views}
          i.fa-solid.fa-pencil
          span  #{restaurant.comments.length}