extends ../base.pug

block content
  header
  main
    h1=restaurant.name
    div 
      each hashtag in restaurant.info.hashtags
        small #{hashtag} 
    h3=restaurant.info.location
    h3=restaurant.info.time
    h3=restaurant.info.contact

    if loggedIn
      div
        form
          label(for="rating") 평점
          input(type="range" min="1" max="5" id="rating" name="rating")
          label(for="review") 리뷰
          textarea(cols="30", rows="10", placeholder="악의적인 댓글은 무통보 삭제될 수 있습니다." id="review")
          label(for="image") 사진
          input(type="file" id="image", accept="image/*" multiple)
          button 작성
  
    div
      ul
        each comment in restaurant.comments.reverse()
          li(data-commentId=comment._id)
            i.fas.fa-comment
            span   #{comment.text}
            if String(comment.owner) === String(loggedInUser._id)
              span   ❌