extends ../base.pug

block content
  a(href="/")
    p 뒤로가기
  header
    img(src=`${restaurant.info.main_photo_url}`)
  main
    h1=restaurant.name
    span #{restaurant.category.dong} | 
    small #{restaurant.category.cate_1}, #{restaurant.category.cate_2}
    h2 
      mark #{restaurant.meta.naver_star_point}
      span  / 5.0
    h3=restaurant.info.location
    h3=restaurant.info.opening_hours
    h3=restaurant.info.contact