extends ../base.pug

block content
  div.reviewModal.hidden
    div.modal-overlay
    div.modal-contents
      div.modal-contents__header
        i.fa-solid.fa-angle-left#closeReviewModalBtn
        span 리뷰 작성
      form.reviewForm(method="POST" enctype="multipart/form-data")
        div.ratings-wrapper
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate1", value="1").ratingBtn
            label(for="rate1")
              i.fa-regular.fa-face-frown-open.fa-xl
              span 비추
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate2", value="2").ratingBtn
            label(for="rate2")
              i.fa-regular.fa-face-frown.fa-xl
              span 별로
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate3", value="3").ratingBtn
            label(for="rate3")
              i.fa-regular.fa-face-meh.fa-xl
              span 무난
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate4", value="4").ratingBtn
            label(for="rate4")
              i.fa-regular.fa-face-grin-wide.fa-xl
              span 좋아
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate5", value="5" checked).ratingBtn
            label(for="rate5")
              i.fa-regular.fa-face-grin-stars.fa-xl
              span 강추
        textarea(name="commentReview", placeholder=`${loggedInUser.username}님, ${place.name}에 대한 솔직한 리뷰를 작성해주세요!`, required)
        div.uploadBtns-wrapper
          div.upload-wrapper
            label(for="commentImg") +
            input(type="file" id="commentImg", name="commentImg" accept="image/*" multiple)
          button(disabled = "disabled").reviewUpload#reviewUploadBtn 리뷰 등록
  div.placeImg-wrapper
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
  section.placeInfo-wrapper
    header.placeInfo-header
      div.placeInfo-header__title
        h1.title=place.name
          strong=place.meta.rating
        div.actionBtns-wrapper
          div.actionBtn-wrapper#reviewModalBtn
            i.fa-regular.fa-comment
            span 리뷰쓰기
          div.actionBtn-wrapper
            i.fa-regular.fa-bookmark
            span 스크랩
      div.etcs-wrapper
        i.fa-solid.fa-eye
        span  #{place.meta.views}
        i.fa-solid.fa-pencil
        span  #{place.comments.length}
    div.map-layer
    div.info-wrapper
      div.infos
        span=place.info.location
        i.fa-regular.fa-copy
      div.infos
        span=place.info.contact
      p.infos-etcs
        span 영업시간
        span=place.info.time
    div.hashtags-wrapper
      each hashtag in place.info.hashtags
        span.hashtag=hashtag
    div.placeReview-wrapper
      div.placeReview-header
        h1.title 경대생들의 리뷰 (#{place.comments.length})
        div.like-wrapper
          i.fa-regular.fa-comment
          span 리뷰쓰기
        
block scripts
  script(src="/static/js/commentSection.js")