extends ../base.pug

block content
  div.placeImg-wrapper
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
    img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
  section.placeInfo-wrapper
    header.placeInfo-header
      div.placeInfo-header__title
        h1.title=place.name
          strong=place.meta.rating
        div.like-wrapper
          i.fa-regular.fa-bookmark
          span 스크랩
      div.etcs-wrapper
        i.fa-solid.fa-eye
        span  #{place.meta.views}
        i.fa-solid.fa-pencil
        span  #{place.comments.length}
    div.map-layer
    div.info-wrapper
      div.infos
        span=place.info.location
        i.fa-regular.fa-copy
      div.infos
        span=place.info.contact
      p.infos-etcs
        span 영업시간
        span=place.info.time
    div.hashtags-wrapper
      each hashtag in place.info.hashtags
        span.hashtag=hashtag
    div.placeReview-wrapper
      div.placeReview-header
        h1.title 경대생들의 리뷰 (#{place.comments.length})
        div.like-wrapper
          i.fa-regular.fa-thumbs-up
          span 리뷰쓰기
    form(method="POST" enctype="multipart/form-data")
      div(class="dropzone")
        
block scripts
  script(src="/static/js/commentSection.js")