extends ../base.pug

block content
  div.reviewModal.hidden
    div.modal-overlay
    div.modal-contents
      div.modal-contents__header
        i.fa-solid.fa-angle-left#closeReviewModalBtn
        span 리뷰 작성
      form.reviewForm(method="POST" enctype="multipart/form-data")
        div.ratings-wrapper
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate1", value="1").ratingBtn
            label(for="rate1")
              i.fa-regular.fa-face-frown-open
              span 비추
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate2", value="2").ratingBtn
            label(for="rate2")
              i.fa-regular.fa-face-frown
              span 별로
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate3", value="3").ratingBtn
            label(for="rate3")
              i.fa-regular.fa-face-meh
              span 무난
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate4", value="4").ratingBtn
            label(for="rate4")
              i.fa-regular.fa-face-grin-wide
              span 좋아
          div.ratingBtn-wrapper
            input(type="radio", name="commentRating", id="rate5", value="5" checked).ratingBtn
            label(for="rate5")
              i.fa-regular.fa-face-grin-stars
              span 강추
        textarea(name="commentReview", placeholder=`${loggedInUser.username}님, ${place.name}에 대한 솔직한 리뷰를 작성해주세요!`, required)
        div.uploadBtns-wrapper
          div.upload-wrapper
            label(for="commentImg") +
            input(type="file" id="commentImg", name="commentImg" accept="image/*" multiple)
          button(disabled = "disabled").reviewUpload#reviewUploadBtn 리뷰 등록
  div.placeImg-wrapper
    each photo in place.photoUrl
      img.placeImg(src=`/${photo}`)
    else 
      img.placeImg(src=`https://mp-seoul-image-production-s3.mangoplate.com/17121/ujjnkgye2_uyn_.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80`)
  section.placeInfo-wrapper
    header.placeInfo-header
      div.placeInfo-header__title
        h1.title=place.name
          strong=place.meta.rating
        div.actionBtns-wrapper
          div.actionBtn-wrapper#reviewModalBtn
            i.fa-regular.fa-comment
            span 리뷰쓰기
          div.actionBtn-wrapper
            i.fa-regular.fa-bookmark
            span 스크랩
      div.etcs-wrapper
        i.fa-solid.fa-eye
        span  #{place.meta.views}
        i.fa-solid.fa-pencil
        span  #{place.comments.length}
    div.map-layer
    div.info-wrapper
      div.infos
        span=place.info.location
        i.fa-regular.fa-copy
      div.infos
        span=place.info.contact
      p.infos-etcs
        span 영업시간
        span=place.info.time
    div.hashtags-wrapper
      each hashtag in place.info.hashtags
        span.hashtag=hashtag
    div.placeReviewContainer
      div.placeReview-header
        h1.title 경대생들의 리뷰 (#{place.comments.length})
        div.like-wrapper
          i.fa-regular.fa-comment
          span 리뷰쓰기
      div.placeReview-wrapper
        each comment in place.comments.reverse()
          div.placeReview
            div.placeReview__header
              div.placeReview__userInfo-wrapper
                img(src="https://img5.yna.co.kr/etc/inner/KR/2022/04/14/AKR20220414131000052_02_i_P2.jpg")
                div.placeReview__userInfo
                  h1=comment.owner.username
                  p
                    i.fa-solid.fa-pen
                    small  #{comment.owner.comments.length}
              div.rating-wrapper
                case comment.rating
                  when 1
                    i.fa-regular.fa-face-frown-open
                    span 비추
                  when 2
                    i.fa-regular.fa-face-frown
                    span 별로
                  when 3
                    i.fa-regular.fa-face-meh
                    span 무난
                  when 4
                    i.fa-regular.fa-face-grin-wide
                    span 좋아
                  when 5
                    i.fa-regular.fa-face-grin-stars
                    span 강추
            div.placeReview__content
              span=comment.text
            div.placeReview__images
              each image in comment.photoUrl
                img(src=`/${image}`)
            p.placeReview__date #{new Date(comment.createdAt).toLocaleDateString("ko-kr", {year: '2-digit', month: '2-digit', day: '2-digit'})}
                    

        
block scripts
  script(src="/static/js/commentSection.js")