header.header-wrapper
  a(href="/").header__logo1
    span ㅇㅈㅇㅇ
  a(href="/").header__logo2
    span ㅇㅈ
    i.fa-solid.fa-magnifying-glass
  form.search-wrapper(method="GET" action="/search")
    if search
      input.search(placeholder="캠퍼스, 음식, 또는 장소명" autocomplete="off" name="search" value=search)
    else
      input.search(placeholder="캠퍼스, 음식, 또는 장소명" autocomplete="off" name="search")
    button.searchBar
      i.fa-solid.fa-magnifying-glass
  nav
    ul
      if loggedIn
        li
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === ""
              img(src=basicProfile)
            else
              if isHeroku
                img(src=`${loggedInUser.avatarUrl}`)
              else
                img(src=`/${loggedInUser.avatarUrl}`)
      else
        li
          a(href="/login").loginBtn 로그인
        li
          a.joinBtn(href="/join") 학생 인증