extends ../base
include ../mixins/place 
include ../mixins/image

block modal
  +image(user.comments)
block content
  div.profile-wrapper
    div.profile-img
      if String(id) === String(loggedInUser._id)
        a(href="/users/edit-profile")
          if user.avatarUrl === ""
            img(src=basicProfile)
          else
            if isHeroku
              img(src=`${user.avatarUrl}`)
            else
              img(src=`/${user.avatarUrl}`)
      else
        if user.avatarUrl === ""
          img(src=basicProfile)
        else
          if isHeroku
            img(src=`${user.avatarUrl}`)
          else
            img(src=`/${user.avatarUrl}`)
    if String(id) === String(loggedInUser._id)
      a(href="/users/edit-profile")
        h1.profile-name=user.username
          i.fa-solid.fa-pen
    else
      h1.profile-name=user.username
    if String(id) === String(loggedInUser._id)
      div.profile-action
        a(href="/users/edit-password").btn.edit 비밀번호 수정
        a(href="/users/logout").btn.logout 로그아웃

    h1.profileReview-title #{user.username}님의 리뷰 (#{user.comments.length})
    div.profileReview-wrapper
      each comment in user.comments.reverse()
        div.placeReview
          div.placeReview__header
            div.placeReview__headerInfo-wrapper
              if comment.place.photoUrl[0]
                if isHeroku
                  img(src=`${comment.place.photoUrl[0]}`)
                else
                  img(src=`/${comment.place.photoUrl[0]}`)
              else
                if isHeroku
                  img(src=`https://withgnu.s3.ap-northeast-2.amazonaws.com/basicPlaceImg.jpg`)
                else 
                  img(src="/uploads/basicPlaceImg.jpg")
              h1=comment.place.name
            div.rating-wrapper
              case comment.rating
                when 1
                  i.fa-regular.fa-face-frown-open
                  span 비추
                when 2
                  i.fa-regular.fa-face-frown
                  span 별로
                when 3
                  i.fa-regular.fa-face-meh
                  span 무난
                when 4
                  i.fa-regular.fa-face-grin-wide
                  span 좋아
                when 5
                  i.fa-regular.fa-face-grin-stars
                  span 강추
          div.placeReview__content
            span=comment.text
          div.placeReview__images
            each image in comment.photoUrl
              if isHeroku
                img(src=`${image}`)#commentImageBtn
              else
                img(src=`/${image}`)#commentImageBtn
          p.placeReview__date #{new Date(comment.createdAt).toLocaleDateString("ko-kr", {year: '2-digit', month: '2-digit', day: '2-digit'})}
    h1.profileReview-title #{user.username}님의 스크랩 (#{user.likes.length})
    div.placeProfileBox-wrapper
      each place in user.likes.reverse()
        +place(place)
block scripts 
  script(src="/static/js/imageScale.js")